<mat-card *ngFor="let d of data">
    <mat-card-header>
      <mat-card-title>{{d.taskName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Task Description: {{d.taskDescription}}</p>
      <p>Task Assigned To: {{d.assignedTo}}</p>
      <p>Due Date: {{d.dueDate}}</p>
      <p>Priority : {{d.priority}}</p>
    </mat-card-content>
    <mat-card-footer>
        <hr>
        <div>
            <button routerLink="/edit-task/{{d.taskId}}" mat-button (click)="openDialog()" color="primary">Edit</button>
            <button mat-button color="accent">Delete</button>
            <button class="arrow-dropdown" mat-icon-button [matMenuTriggerFor]="statusMenu">
                <mat-icon color="primary" matTooltip="Move the task to">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #statusMenu="matMenu">
                <button mat-menu-item (click)="moveTaskTo('To Do')">To Do</button>
                <button mat-menu-item (click)="moveTaskTo('In Progress')">In Progress</button>
                <button mat-menu-item (click)="moveTaskTo('Completed')">Completed</button>
                <button mat-menu-item (click)="moveTaskTo('BackLog')">BackLog</button>
            </mat-menu>
        </div>
    </mat-card-footer>
</mat-card>
  