<div id="container">
  <div id="register-container">
    <div class="form">
      <h2>CREATE ACCOUNT</h2>
      <form #registerForm="ngForm" (ngSubmit)="register()">
        <mat-form-field appearance="outline">
          <mat-label for="username">Your Name</mat-label>
          <input matInput placeholder="Enter your username" name="name" [(ngModel)]="userData.userName">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="email">Your Email</mat-label>
          <input matInput type="email" placeholder="Enter your email" name="email" [(ngModel)]="userData.userEmail">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" name="password" id="password"
            [(ngModel)]="userData.password">
        </mat-form-field>
        <p><input type="checkbox" required> I agree to the <a href="">Terms and Conditions</a></p>
        <button mat-raised-button type="submit" color="primary">Register</button>
        <button mat-raised-button type="reset" color="warn">Reset</button>
      </form>
    </div>

    <div class="image">
      <img src="../../assets/signin-image2.png" width="500px" height="550px" alt="">
    </div>
  </div>
</div>

