.example-full-width {
  width: 700px;
  margin-top: 15px;
}
  
mat-form-field {
  width: 400px;
  margin-top: 8px;
}

#container{
  height:750px;
  width: 70%;
  margin: 3% auto;
  border-radius: 14px;
}


h2{
  margin-left: 7%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
}

#register-container{
  display: flex;
}

.form{
  margin: 4% auto;
  margin-left: 4.5%;
  height: 430px;
  text-align: center;
  border-radius: 15px;
}

img{
  border-radius: 0 10px 10px 0;
}

button {
  margin-top: 8%;
  margin-left: .4rem;
  width: 33%;
  border-radius: 50px;
}
