/* register-form.component.css */

.example-full-width {
    width: 700px;
    margin-top: 15px;
}
  
mat-form-field {
    width: 400px;
    margin-top: 8px;
}

#container{
    width: 70%;
    margin: 5% auto;
    border-radius: 14px;
}

h2{
  margin-top: 3%;
  margin-left: 20%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xxx-large;

}
#register-container{
    display: flex;
}

.form{
  margin: 6% auto;
  margin-left: 4.5%;
}

img{
  border-radius: 0 10px 10px 0;
}

button {
  margin-top: 8%;
  margin-left: 3.9rem;
}
