<div id="container">
  <div id="login-container">
    <div class="image">
      <img src="../../assets/login-image3.png" width="500px" height="550px" alt="">
    </div>
    <div class="form">
      <h2>Welcome Back !</h2>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label for="userEmail">User Email</mat-label>
          <input matInput type="text" id="userEmail" name="userEmail" [(ngModel)]="credentials.userEmail" name="email"
            #email="ngModel" required pattern="^[a-zA-Z_][a-zA-Z0-9_]*@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$" />
          <mat-error *ngIf="email.errors?.['required']">Email id is required</mat-error>
          <mat-error *ngIf="email.errors?.['pattern']">Email should starts with characters and having @symbol</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  id="password" name="password" [(ngModel)]="credentials.password"
            name="password" #password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
          <button mat-icon-button type=button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
          <mat-error *ngIf="password.errors?.['pattern']">Password must contain at least 8 characters, including at
            least one number, one lowercase, and one uppercase letter.</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Login</button>
        <button type="reset" mat-raised-button color="warn">Reset</button>
      </form>
      <!-- <p> {{credentials | json}}</p> -->
    </div>
  </div>
</div>