<h2>Add Task</h2><hr>
<div class="container">
    <div class="image">
        <img src="../../assets/add-task1.gif" alt="add-task1" width="400px" height="500px">
    </div>
    <form class="form">
        <mat-form-field appearance="outline">
            <mat-label for="username">Task Name</mat-label>
            <input matInput placeholder="Enter your username" name="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="username">Task Description</mat-label>
            <input matInput placeholder="Enter your username" name="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="username">Your Name</mat-label>
            <input matInput placeholder="Enter your username" name="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="username">Your Name</mat-label>
            <input matInput placeholder="Enter your username" name="name">
          </mat-form-field>
          <button mat-raised-button color="primary">Add Task</button>
    </form>

</div>
