.text-container{
    width: 80%;
    margin: 0 8%;
    margin-bottom: 20%;
    padding: 3%;
    /* height: 460px; */
}

img{
    /* border-radius: 30px; */
    margin: 1% 2.5%;
    width: 95%;
}

.text-heading{
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    
}

.heading{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: 20px 0;
}

span{
    color: #165be4;
}

/* _---------------------------__-------------------------------- */

.team-container{
    border: 1px solid black;
    border-radius: 30px;
    height: 630px;
    padding-top: 20px;
    background-color: rgb(70, 146, 246);
    padding-left: 3%;
    
}
.card-container{
    display: flex;
}


.team-card{
    width: 340px;
    height: 380px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .team-card img {
    width: 80%;
    height: auto;
    margin: 4% 12%;
    border-bottom: 1px solid #ccc;
    border-radius: 2%;
  }

.member-details{
    text-align: center;
    margin-top: 30%;
}