<div class="container">
    <img src="../../assets/about_us-image1.gif" width="100%" height="200px" alt="">
    <!-- <img src="../../assets/about-us-image2.webp" width="100%" height="200px" alt=""> -->
    <div class="text-container">
        <!-- <p class="heading">Welcome to the <Span>Kanban Board</Span></p> -->
        <h1 class="text-heading">Welcome to our Project, where innovation meets efficiency! We are passionate about streamlining workflows and
            enhancing collaboration, and our secret weapon is the Kanban board.</h1><br><br>
        <h2>What is a Kanban Board?</h2>
        <p>A Kanban board is a visual project management tool that enables teams to visualize work, optimize processes,
            and boost productivity. Originating from the Japanese manufacturing industry, Kanban has evolved into a
            powerful methodology embraced by diverse sectors, including software development, marketing, and project
            management.</p> 
        <h2>How We Use Kanban</h2>
        <p>At [Your Company/Project Name], we have integrated the Kanban philosophy into the core of our operations. Our Kanban boards act as dynamic canvases that allow teams to track tasks, manage work in progress, and swiftly adapt to changing priorities.</p>
        <h2>Continuous Improvement</h2>
        <p>Kanban is not just a tool; it's a mindset. Embracing the principles of continuous improvement, our teams use the Kanban board to regularly assess and refine processes. This commitment to refinement ensures that we are always delivering the highest quality work and adapting to the ever-changing demands of our projects.</p> 

        <div class="team-container">
            <p class="heading">Team Members<p>
            <div class="card-container">
                <div class="team-card">
                    <!-- <img src="../../assets/Member1_image.jpg" alt=""> -->
                    <div class="member-details">
                        <h3>Atul Singh</h3>
                        <h4>Team Lead</h4>
                        <p>MCA PostGraduate from LPU,Punjab</p>
                        <mat-icon>mail_outline</mat-icon>
                        <p>atulshekhawat21@gmail.com</p>
                    </div>
                </div>

                <div class="team-card">
                    <!-- <img src="#" alt="member_2"> -->
                    <div class="member-details">
                        <h3>Shubham Shringi</h3>
                        <h4>Team Member</h4>
                        <p>Btech Graduate</p>
                        <mat-icon>mail_outline</mat-icon>
                        <p>Shubham.shringi1998@gmail.com</p>
                    </div>
                </div>

                <div class="team-card">
                    <!-- <img src="" alt="member_3"> -->
                    <div class="member-details">
                        <h3>Rohit Kumar</h3>
                        <h4>Team Member</h4>
                        <p>Btech Graduate</p>
                        <mat-icon>mail_outline</mat-icon>
                        <p>nrohith46744@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>