<div id="header">
    <mat-toolbar color="primary">
      <img src="../../assets/logo.png" width="60px" height="60px" alt="">
      <a routerLink=""><h1>Work Planner</h1></a>
      <div id="buttons">
          <button *ngIf="!loggedIn" routerLink="" mat-raised-button matTooltip="Home" color="primary"><mat-icon>home</mat-icon></button>
          <button *ngIf="!loggedIn" routerLink="login" mat-raised-button matTooltip="Login" color="primary"><mat-icon>login</mat-icon></button>
          <button *ngIf="!loggedIn" routerLink="register" mat-raised-button matTooltip="Register" color="primary"><mat-icon>account_circle</mat-icon></button>
          <button routerLink="/dashboard" *ngIf="loggedIn"  mat-raised-button matTooltip="Dashboard" color="primary"><mat-icon>dashboard</mat-icon></button>
          <button *ngIf="loggedIn" (click)="logoutUser()" mat-raised-button matTooltip="Logout" color="primary"><mat-icon>logout </mat-icon></button>
      </div>
    </mat-toolbar>
</div>