
img{
    width: 30px; 
    margin: 11px;
}

.foot-panel1{
    background-color: #3F50B5;
    color: white;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #dddd;
    text-decoration: none;
}

.foot-panel2{
    background-color: #222f3d;
    padding: .5% 0;
    color: white;
    text-align: center;
    font-size: 1rem;

}

