<div class="foot-panel1">
    <ul>
        <img src="../../assets/facebook.png" alt="facebook_image">
        <img src="../../assets/instagram.png" alt="instagram_image">
        <img src="../../assets/twitter.png" alt="twitter_image">
        <p>Kanban Board Pvt Ltd</p>
        <p>Welcome to our Project, where innovation meets efficiency! We are <br>  passionate about streamlining workflows and
        enhancing collaboration, <br> and our secret weapon is the Kanban board. <br> <br>Team Kanban Board</p>
    </ul>
    <ul>
        <p>About us</p>
        <a>Pricing</a>       
        <a>Payment</a>      
    </ul>
    <ul>
        <p>Home</p>  
        <a>Location</a>      
        <a>Contact Us</a>
    </ul>
    <ul>
        <h4>Contact Details</h4>
        <h5> <mat-icon>home</mat-icon>Sector 31-32A, Rajeev Chowk, Gurugram</h5> 
        <h5><mat-icon>email</mat-icon> atulshekhawat21@gmail.com</h5>
        <h5><mat-icon>phone</mat-icon> +91 9990000000</h5>
    </ul>
</div>
    <div class="foot-panel2">
        © 2023-2024, kanban.com, All Rights Reserved
    </div>
