<div (click)="footer()" class="foot-panel1">
    <ul>
        <p>Home</p> 
        <a>Contact Us</a>
    </ul>
    <ul>
        <p>About us</p>
        <a>Pricing</a>       
        <a>Payment</a>      
    </ul>
    <ul>      
        <a>Location</a>      
        <a>Contact Us</a>
    </ul>
    <ul>
        <img src="../../assets/facebook.png" alt="facebook_image">
        <img src="../../assets/instagram.png" alt="instagram_image">
        <img src="../../assets/twitter.png" alt="twitter_image">
        <h4>Project Members</h4>
        <p>Atul Singh (atulshekhawat21@gmail.com)</p>
        <p>Shubham </p>
        <p>Rohit Kumar</p>
    </ul>
</div>
    <div class="foot-panel2">
        © 2022-2023, kanban.com, All Rights Reserved
    </div>
